doctype html
html
  head
    title Express Session 
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css",
    ntegrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb",
    crossorigin="anonymous")
    style(type="text/css").
      main {
        margin-top:60px;
      }
  body
    header
      nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-dark
        a(class="navbar-brand" href="/") Express Session
        .collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a(class="nav-link" href="/") Home
            li.nav-item
              a(class="nav-link" href="/profile") Profile
            if(!user)
              li.nav-item
                a(class="nav-link" href="/login") Login
            else 
              li.nav-item
                a(class="nav-link" href="logout") Logout
    main.container
      .row
        if locals.flashes
          .flashes
            - const cats = Object.keys(locals.flashes)
            each c in cats
              each msg in flashes[c]
                .alert(class=`alert-${c}`) #{msg}
        block content
